option_settings:
  - option_name: PARAM1
    value: somevalue

commands:
  01-Install:
   command: PowerShell -Command "& {try{Install-WindowsFeature -Name Web-AppInit}catch{exit 0}}"
   ignoreErrors: true
   waitAfterCompletion: 1
  02-UpdateAutoStart: 
   command: C:\Windows\System32\inetsrv\appcmd.exe set config -section:system.applicationHost/applicationPools /applicationPoolDefaults.autoStart:true /commit:APPHOST
   waitAfterCompletion: 1
  03-UpdateStartMode:
   command: C:\Windows\System32\inetsrv\appcmd.exe set config -section:applicationPools -applicationPoolDefaults.startMode:AlwaysRunning /commit:APPHOST
   waitAfterCompletion: 1

  04-AddAutoStartProvider:
   command: C:\Windows\System32\inetsrv\appcmd.exe set config -section:system.applicationHost/serviceAutoStartProviders /+"[name='SilentSilverAutostartProvider',type='SilentSilver.PreloadClient, SilentSilver']" /commit:APPHOST
   ignoreErrors: true
   waitAfterCompletion: 1
  05-EnableAutoStart:
   command: C:\Windows\System32\inetsrv\appcmd.exe  set config -section:system.applicationHost/sites "/[name='Default Web Site'].applicationDefaults.serviceAutoStartEnabled:true" /commit:apphost
   waitAfterCompletion: 1
  06-SetSiteAutoStartProvider:
   command: C:\Windows\System32\inetsrv\appcmd.exe  set config -section:system.applicationHost/sites "/[name='Default Web Site'].applicationDefaults.serviceAutoStartProvider:SilentSilverAutostartProvider" /commit:apphost
   waitAfterCompletion: 1
  07-PreloadEnabled:
   command: C:\Windows\System32\inetsrv\appcmd.exe  set config -section:system.applicationHost/sites "/[name='Default Web Site'].applicationDefaults.preloadEnabled:true" /commit:apphost
   waitAfterCompletion: 0